* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

#app {
    text-align: center;
}

h1 {
    margin: 40px;
}

button {
    cursor: pointer;
    color: white;
    background-color: rgb(0, 0, 0);
}

button:hover {
    background-color: rgb(26, 116, 219)
}

.input-weight {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 16px;
    margin-bottom: 20px;
}

input, select, button {
    padding: 5px 10px;
    margin: 10px;
    width: 140px;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
}

.object-weight {
    /* padding: 5px 5px; */
}

.select-unit, .select-planet {
    height: 100%;
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 0;
    margin-top: 100px;
}

.img, .weight-result {
    flex: 1;
}

img{
    height: 100%;
}

.img {
    height: 400px;
    text-align: right;
}

.weight-result {
    text-align: center;
    margin: 40px 30px;
}

p {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .weight-result {
        margin-top: 0px;
    }
    .img {
        height: 300px;
    }
    .input-weight {
        width: 90%;
    }
}
